*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 1440px;
    background-color: black;
    color: white;
}
header{
    background-image: url(../img/Background\ Image.png);

}